.App {
  text-align: center;
}

.m-5 {
  margin: 5rem;
}

.text-light {
  color: #000;
}

.text-center {
  text-align: center;
}

h1,
h3 {
  font-weight: bold;
  font-size: 36px;
}

.ht {
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
}

.btn-dark:hover {
  background-color: #fff;
  color: #343a40;
}

.btn-outline-dark {
  border: 2px solid #343a40;
  color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

@media (max-width: 576px) {

  h1,
  h3 {
    font-size: 28px;
  }

  .ht {
    height: 200px;
  }
}